@charset "UTF-8";


 
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.showSchedule *:focus-visible {
    outline: none;
}

div.sideCalList {
    height: 100%;
    width: 230px;
    padding-right: 0;
    position: fixed;
    z-index: 100;
  top: 0px;
    left: 0;
    background-color: #eee;
    border-right: 1px solid #555;
    overflow-x: hidden;
   /*  padding-top: 45px; */
    color: #333;
}

div.sideCalList>ul {
    padding: 0;
}

div.sideCalList>ul>li {
    border-bottom: 1px solid #ddd;
}

div.sideCalList div.mainlogo {
    border-bottom: solid 0.8px #595959;
    border-top: solid 0.8px #eee;
}

div.comCalTitle,
div.myCalTitle,
div.shareCalTitle {
    position: relative;
    padding: 11px 20px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
}

div.comCalTitle i.ico-arrow,
div.myCalTitle i.ico-arrow,
div.shareCalTitle i.ico-arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(-180deg);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

div.comCalTitle.active .ico-arrow,
div.myCalTitle.active i.ico-arrow,
div.shareCalTitle.active i.ico-arrow {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

div.comCalList {
    margin: 0 0 12px 0;
    overflow: inherit;
}

div.comCalList ul {
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #333;
    padding-left: 0;
}

div.comCalList ul li:first-child {
    margin-top: 0px;
}

div.comCalList ul li {
    margin-top: 6px;
    line-height: 20px;
    padding: 0 20px;
}

div.comCalList ul li div {
    height: auto;
    margin: 0;
}

div.comCalList ul li div span {
    margin-left: 0;
    font-size: 13px;
    color: #333;
    margin-bottom: 0;
}

div.comCalList p,
div.myCalList p,
div.shareCalList p {
    margin: 0;
}

div.myCalList {
    margin: 0 0 12px 0;
    overflow: inherit;
}

div.myCalList ul {
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #333;
    padding-left: 0;
}

div.myCalList ul li:first-child {
    margin-top: 0px;
}

div.myCalList ul li {
    margin-top: 6px;
    line-height: 20px;
    padding: 0 20px;
}

div.myCalList ul li div {
    height: auto;
    margin: 0;
}

div.myCalList ul li div span {
    margin-left: 0;
    font-size: 13px;
    color: #333;
    margin-bottom: 0;
}

div.shareCalList {
    margin: 0 0 12px 0;
    overflow: inherit;
}

div.shareCalList ul {
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #333;
    padding-left: 0;
}

div.shareCalList ul li:first-child {
    margin-top: 0px;
}

div.shareCalList ul li {
    margin-top: 6px;
    line-height: 20px;
    padding: 0 20px;
}

div.shareCalList ul li div {
    height: auto;
    margin: 0;
}

div.shareCalList ul li div span {
    margin-left: 0;
    font-size: 13px;
    color: #333;
    margin-bottom: 0;
}

a.sideBtn {
    position: fixed;
    top: 45%;
    left: 214px;
    width: 30px;
    height: 30px;
    border: 1px solid #555;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    z-index: 200;
    background: #fff;
    border: 1px solid #555;
    color: #555;
}

a.sideBtn.open {
    background: #fff;
    border: 1px solid #555;
    color: #595959;
}

a.sideBtn:after {
    position: relative;
    bottom: 4px;
    font-size: 24px;
    content: "\e900";
    font-family: fcicons !important;
}

a.sideBtn.open:after {
    content: "\e901";
}

a.sideBtn:hover,
a.sideBtn:hover+div.sideCalList {
    border-color: #6449fc;
}

div.sideCalList input[type=checkbox] {
    display: none;
}

div.sideCalList input[type=checkbox]+label {
    cursor: pointer;
    padding-left: 23px;
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    width: 16px;
    height: 16px;
    margin-bottom: 0;
    background-image: url('../../images/kimyj/icon-radio-off.svg');
}

div.sideCalList input[type=checkbox]:checked+label {
    background-image: url('../../images/kimyj/icon-radio-on.svg');
}

div.sideCalList input[type=checkbox]:disabled+label {
    background-image: url('../../images/kimyj/icon-radio-off.svg');
}

div.modal-header {
    position: relative;
    height: 30px;
    padding: 3px 20px;
    margin-top: 13px;
    border-bottom: 0;
}

div.modal-header h5.modal-title {
    float: left;
    font-size: 16px;
    color: #333;
}

div.modal-header button.close {
    position: absolute;
    top: -5px;
    right: 20px;
}

div.modal-header button.close span {
    font-family: icon-contents !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: #333;
    font-size: 30px;
}

div.text-center table,
div.text-center table td {
    border: 0;
}

div.text-center {
    padding-right: 40px;
}

div.text-center td:first-child {
    font-size: 16px;
    color: #333;
    padding: 5px 10px;
    width: 20%;
    height: 40px;
    vertical-align: middle;
    text-align: left;
    font-weight: 500;
}

div.text-center td:last-child {
    font-size: 16px;
    color: #333;
    padding: 5px 10px;
    width: 80%;
    height: 40px;
    vertical-align: middle;
    text-align: left;
}

div.text-center td:last-child input {
    width: 60%;
    border: 0;
}

div.text-center td:last-child input:hover,
div.text-center td:last-child input:active {
    outline: 0;
    border-bottom: 1px solid #6449fc;
}

div.text-center td:last-child input:not(:hover) {
    outline: 0;
}

div.modal-footer {
    border-top: 0;
    padding-right: 20px;
}

div.modal-footer button.btn {
    height: 30px;
    width: 100px;
    padding: 0 20px;
    margin-left: 10px;
    background: #6449fc;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    border: 0;
}

div.modal-footer button.btn.modal_close {
    background: #ff4444;
}

div#modal_addSchedule div.modal-body {
    padding: 0;
    margin: 0;
}

div#modal_addSchedule div.modal-content {
    position: relative;
    right: 20%;
    z-index: 5;
    width: 674px;
    margin: 30px auto 0 auto;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 20px 20px 30px rgb(0 0 0 / 20%);
    border-radius: 10px;
}

div#modal_addSchedule form.scheduleFrm>div:first-child {
    padding-right: 30px;
    padding-left: 30px;
}

div#modal_addSchedule div.modal-content input.subject {
    height: 62px;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 15px;
    font-size: 18px;
    border-bottom: 1px solid #eee !important;
    resize: none;
    overflow-y: hidden;
    border-radius: 0;
    border: 0;
    line-height: normal;
    margin: 0;
    color: #6449fc;
}

div#modal_addSchedule input.subject:hover,
div#modal_addSchedule input.subject:active,
div#modal_addSchedule input.subject:not(:hover) {
    outline: 0;
}

div#modal_addSchedule i.icon-calendar {
    background-image: url('../../images/kimyj/icon-calendar.svg') !important;
    width: 20px;
    height: 20px;
    display: inline-block;
}

div#modal_addSchedule ul li>div {
    display: inline-block;
    position: relative;
    display: table-cell;
    height: 35px;
    vertical-align: middle;
    color: #333;
    text-align: left;
    font-size: 15px;
}

div#modal_addSchedule ul div.title {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 20px;
    padding: 7px 20px 0 0;
    color: #555;
    font-weight: 700;
    font-size: 14px;
}

div#modal_addSchedule ul {
    margin: 0;
    padding: 30px;
}

div#modal_addSchedule ul li {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 11px;
}

div#modal_addSchedule input.selectDay {
    border: 0;
    width: 46%;
    padding: 5px 2px;
    margin-right: 12px;
    border-bottom: 1px solid #555;
    font-size: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #fff;
}

div#modal_addSchedule input {
    border-radius: 0;
    border: 0;
    line-height: normal;
    margin: 0;
    color: #333;
}

div#modal_addSchedule i.icon-select-calendar {
    background-image: url('../../images/kimyj/icon-select-calendar.svg') !important;
    width: 20px;
    height: 20px;
    display: inline-block;
}

div#modal_addSchedule input#color {
    width: 20px;
    height: 23.8px;
    background-color: transparent;
    padding: 0;
}

div#modal_addSchedule div.color-div,
div#modal_addSchedule div.subject-div {
    display: inline-block;
}

div#modal_addSchedule div.subject-div {
    width: 93%;
}

div#modal_addSchedule div.color-div {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 20px;
    padding: 7px 18px 0 0;
    color: #555;
    font-weight: 700;
    font-size: 14px;
}

div#modal_addSchedule div.vote-group label {
    margin: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: relative;
    top: 4.2px;
    right: 5px;
}

div#modal_addSchedule div.vote-group label span {
    font-size: 19px;
}

div#modal_addSchedule div.vote-group span {
    padding-right: 5px;
}

div#modal_addSchedule input.vote_checkbox {
    display: none;
    box-sizing: border-box;
    padding: 0;
}

div#modal_addSchedule i.icon-place {
    background-image: url('../../images/kimyj/icon-place.svg') !important;
    width: 20px;
    height: 20px;
    display: inline-block;
}

div#modal_addSchedule div.map {
    width: 100%;
    height: 200px;
    display: block;
}

div#modal_addSchedule i.icon-search {
    background-image: url('../../images/kimyj/icon-search.svg') !important;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
    filter: invert(69%) sepia(6%) saturate(15%) hue-rotate(28deg) brightness(84%) contrast(86%);
}

div#modal_addSchedule i.icon-share {
    background-image: url('../../images/kimyj/icon-share.svg') !important;
    width: 20px;
    height: 20px;
    display: inline-block;
}

div#modal_addSchedule i.icon-text {
    background-image: url('../../images/kimyj/icon-text.svg') !important;
    width: 20px;
    height: 20px;
    display: inline-block;
}

div#modal_addSchedule input.place {
    width: 100%;
    max-width: 480px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    color: #333;
    font-size: 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

div#modal_addSchedule i.icon-file-upload {
    background-image: url('../../images/kimyj/icon-file-upload.svg') !important;
    width: 20px;
    height: 20px;
    display: inline-block;
}

div#modal_addSchedule input.upload-name {
    width: 12%;
    max-width: 480px;
    height: 38px;
    line-height: 38px;
    padding: 0 10px 0 0;
    color: #333;
    font-size: 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: transparent;
}

div#modal_addSchedule div.filebox label {
    position: relative;
    top: 6.4px;
}

div#modal_addSchedule input.upload-file {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

div#modal_addSchedule input.joinUserName {
    width: 100%;
    max-width: 480px;
    height: 38px;
    line-height: 38px;
    padding: 0 10px 0 0;
    color: #333;
    font-size: 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

div#modal_addSchedule input.joinUserName:hover,
div#modal_addSchedule input.joinUserName:active,
div#modal_addSchedule input.joinUserName:not(:hover) {
    outline: 0;
}

div#modal_addSchedule input.place:hover,
div#modal_addSchedule input.place:active,
div#modal_addSchedule input.place:not(:hover) {
    outline: 0;
}

div#modal_addSchedule textarea.content:hover,
div#modal_addSchedule textarea.content:active,
div#modal_addSchedule textarea.content:not(:hover) {
    outline: 0;
}

div#modal_addSchedule textarea.content {
    width: 100%;
    height: 100px;
    line-height: 38px;
    padding: 0 10px 0 0;
    color: #333;
    font-size: 15px;
    border: 0;
    resize: none;
}

div#modal_addSchedule ul>li:nth-child(5) div.title {
    vertical-align: top;
    padding-top: 9px;
}

div#modal_addSchedule ul>li:nth-child(6) div.title {
    vertical-align: top;
    padding-top: 9px;
}

div#modal_addSchedule select.calType.schedule {
    border: 0;
    color: #333;
    font-size: 15px;
    margin-left: -4px;
}

div#modal_addSchedule select.calType.schedule:hover,
div#modal_addSchedule select.calType.schedule:active,
div#modal_addSchedule select.calType.schedule:not(:hover) {
    outline: 0;
}

div#modal_addSchedule select.small_category {
    border: 0;
    color: #333;
    font-size: 15px;
    padding: 0 10px 0 0;
    margin-left: 10px;
}

div#modal_addSchedule select.small_category:hover,
div#modal_addSchedule select.small_category:active,
div#modal_addSchedule select.small_category:not(:hover) {
    outline: 0;
}

ul.ui-autocomplete {
    z-index: 2147483647;
    color: #333;
    width: 200px !important;
    font-size: 15px;
    line-height: 38px;
    border: 1px solid #6449fc !important;
    max-height: 200px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

ul.ui-autocomplete::-webkit-scrollbar {
    display: none;
}

ul.ui-autocomplete li.ui-menu-item:first-child div:not(:hover) {
    background-color: white;
    color: #333;
    border-bottom: 0;
}

ul.ui-autocomplete li.ui-menu-item:last-child div:not(:hover) {
    background-color: white;
    color: #333;
    border-top: 0;
}

ul.ui-autocomplete li.ui-menu-item:not(:last-child):not(:first-child) div:not(:hover) {
    background-color: white;
    color: #333;
    border-top: 0;
    border-bottom: 0;
}

ul.ui-autocomplete li.ui-menu-item div:focus,
ul.ui-autocomplete li.ui-menu-item div:active,
ul.ui-autocomplete li.ui-menu-item div:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 0;
}

span.plusUser {
    margin-right: 10px;
}

div.modal-content {
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgb(0 0 0 / 20%);
    box-sizing: border-box;
}

a.fc-daygrid-event {
    margin: 0;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 2px;
}

div.fc-event-main-frame {
    height: 22px;
    line-height: 19px;
    font-size: 13px;
    padding-left: 13px;
    vertical-align: middle;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-start {
    margin-left: 10px;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end {
    margin-right: 10px;
}

div.showSchedule {
    width: 674px;
    min-height: auto;
    max-height: max-content;
    position: absolute;
    top: -20px;
    bottom: 0;
    right: -20px;
    z-index: 2;
    overflow: hidden;
    background: #f9f9f9;
    border-radius: 0;
    border-left: 1px solid #ccc;
    border: 1px solid #ccc;
    box-shadow: -10px 10px 15px rgb(0 0 0 / 4%);
    display: block;
    font-size: 14px;
    font-weight: 400;
}

div.showSchedule div.card-header {
    overflow: hidden;
    padding: 10px 20px;
    height: 45px;
    background: #fff;
    border-bottom: 1px solid #eee;
}

div.showSchedule div.card-header h3 {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
}

div.showSchedule div.card-header h3 span.js-project-title-button {
    overflow: hidden;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 5px;
}

div.showSchedule div.card-header button.close {
    top: 8px;
    right: 20px;
    float: right;
    margin-top: 1px;
    position: absolute;
    color: #333;
}

div.showSchedule div.card-header button.close span {
    font-style: normal;   
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

div.showSchedule div.card-body {
    border-radius: 0;
    background: #faf9f9;
    flex: none;
    min-height: auto;
    padding: 0;
}

div.showSchedule div.card-scroll {
    max-height: calc(100vh - 78px);
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100px;
    box-sizing: border-box;
}

div.showSchedule div.card-body-top {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 14.5px 30px;
    background: #fff;
}

div.showSchedule div.card-author {
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
    float: initial;
    width: calc(100% - 77px);
}

div.showSchedule span.card-profileImg {
    background-image: url('../../images/kimyj/profileImg-default.png');
    width: 40px;
    height: 40px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 16px;
    cursor: pointer;
    box-sizing: border-box;
    vertical-align: middle;
}

div.showSchedule dl.card-author-info {
    display: -moz-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 70%;
    line-height: 18px;
    margin-left: 10px;
    vertical-align: middle;
    text-align: left;
    font-size: 14px;
}

div.showSchedule dl.card-author-info dt {
    display: flex;
    color: #555;
    line-height: 1.1;
}

div.showSchedule strong.author-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
    line-height: 18px;
    max-width: 70%;
    font-weight: 700;
}

div.showSchedule span.author-date {
    display: inline-block;
    min-width: 120px;
    margin: 2px 0 0 7px;
    color: #aaa;
    font-family: Roboto;
    vertical-align: middle;
    line-height: 1.1;
    font-weight: normal;
}

div.showSchedule div.card-option {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: flex-end;
    height: 40px;
}

div.showSchedule button.card-option-btn {
    margin: -1px 0 0 20px;
    padding: 4px 8px;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    color: #999;
    font-size: 100%;
    line-height: normal;
    background-image: url('../../images/kimyj/icon-option.svg');
    width: 20px;
    height: 20px;
}

div.showSchedule button.card-option-btn span {
    width: 2px;
    height: 2px;
    background: #777;
    margin: 0;
    display: block;
}

div.showSchedule ul.card-option-ul {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 35px;
    background: #fff;
    border: 1px solid #555;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 4px 0;
}

div.showSchedule li.card-option-li {
    display: block;
    position: relative;
}

div.showSchedule li.card-option-li a {
    display: block;
    height: 19px;
    margin: 5px 0;
    padding: 0 14px;
    line-height: 19px;
    font-size: 13px;
    color: #555;
    text-decoration: none;
    cursor: pointer;
}

div.showSchedule li.card-option-li a i {
    display: inline-block;
    margin: -4px 6px 0 0;
    vertical-align: middle;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #999;
    width: 13px;
    height: 13px;
    filter: invert(66%) sepia(4%) saturate(26%) hue-rotate(338deg) brightness(94%) contrast(78%);
}

div.showSchedule li.card-option-li a i.icon-edit {
    background-image: url('../../images/kimyj/icon-edit-13.svg');
    fill: blue;
    color: red;
}

div.showSchedule li.card-option-li a i.icon-delete {
    background-image: url('../../images/kimyj/icon-delete-13.svg');
}

div.showSchedule div.card-body-bottom {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px 30px 10px 30px;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
}

div.showSchedule div.card-schedule-date {
    display: table-cell;
    height: 74px;
    overflow: hidden;
    margin: 5px 20px 5px 0;
    width: 68px;
    border-radius: 6px;
    box-shadow: 0 0 6px rgb(0 0 0 / 10%);
    font-family: Roboto;
    text-align: center;
    vertical-align: middle;
}

div.showSchedule strong.card-month {
    display: block;
    padding: 8px 0;
    font-size: 12px;
    color: #00b19c;
    height: 30px;
    line-height: 1;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

div.showSchedule strong.card-day {
    display: block;
    padding: 5px 0;
    font-size: 28px;
    color: #fff;
    background: #00b19c;
    height: 44px;
    line-height: 1;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

div.showSchedule div.card-schedule-title-area {
    padding-left: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    width: 100%;
}

div.showSchedule h4.card-schedule-title {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    vertical-align: middle;
    word-break: break-word;
}

div.showSchedule div.card-schedule-day {
    display: block;
    margin-top: 10px;
}

div.showSchedule span.card-schedule-startDate {
    font-family: Roboto;
    font-size: 16px;
    color: #333;
}

div.showSchedule span.card-schedule-endDate {
    display: inline-block;
    font-family: Roboto;
    font-size: 16px;
    color: #333;
}

div.showSchedule span.card-schedule-endDate:before {
    display: inline-block;
    content: "";
    width: 12px;
    height: 1px;
    margin: -2px 6px 0 3px;
    background: #333;
    vertical-align: middle;
}

div.showSchedule div.card-body-bottom:after {
    content: '';
    position: absolute;
    height: 1px;
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
    left: 30px;
    bottom: 0;
    background: #eee;
}

div.showSchedule div.card-container {
    padding: 10px 0 20px;
    background: #fff;
}

div.showSchedule div.card-content {
    font-size: 14px;
    word-break: break-word;
    line-height: 25px;
    color: #333;
    padding: 15px 30px 0;
}

div.showSchedule ul.card-content-group {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.showSchedule ul.card-content-group li {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 11px;
    margin: 0;
    padding: 0;
    padding-left: 2px;
}

div.showSchedule div.card-content-title {
    vertical-align: top;
    box-sizing: content-box;
    width: 20px;
    padding: 7px 20px 0 0;
    color: #555;
    font-weight: 700;
    font-size: 14px;
    margin-top: 30px;
    padding-top: 14px;
    word-break: break-all;
    position: relative;
    display: table-cell;
    height: 35px;
}

div.showSchedule i.icon-text {
    background-image: url(../../images/kimyj/icon-text.svg) !important;
    width: 20px;
    height: 20px;
    position: absolute;
}

div.showSchedule div.card-content-memo {
    margin-top: 30px;
    padding-top: 10px;
    vertical-align: top;
    word-break: break-all;
    position: relative;
    display: table-cell;
    height: 35px;
    color: #333;
}

div.showSchedule span.memo-span {
    white-space: pre-wrap;
}

div.showSchedule span.memo-span a {}

div.showSchedule div.card-vote {
    display: block;
    margin: 30px 0 0;
    padding: 35px 0 15px 0;
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 0;
}

div.showSchedule button.vote-btn-yes {
    color: #00b19c;
    background-color: transparent;
    width: 74px;
    height: 34px;
    border: 1px solid #00b19c;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    font-family: inherit;
    line-height: normal;
    margin: 0;
    padding: 0;
}

div.showSchedule button.vote-btn-no {
    line-height: normal;
    margin: 0;
    padding: 0;
    color: #ff6b6b;
    margin-left: 20px;
    background-color: transparent;
    width: 74px;
    height: 34px;
    border: 1px solid #ff6b6b;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    font-family: inherit;
    cursor: pointer;
}

div.showSchedule button.vote-btn-undefined {
    margin: 0;
    padding: 0;
    color: #777;
    margin-left: 20px;
    background-color: transparent;
    width: 74px;
    height: 34px;
    border: 1px solid #777;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    line-height: normal;
    font-family: inherit;
}

div.showSchedule div.card-footer {
    padding: 0;
    border: 0;
    border-radius: 0;
    background: #f9f9f9;
}

div.showSchedule ul.card-footer-group {
    color: #555;
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #ddd;
}

div.showSchedule li.card-footer-li {
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: -1px;
    padding: 10px 30px;
    padding-top: 20px;
    border-bottom: 1px solid #eee;
}
}

div.showSchedule div.comment-user-profile {
    float: left;
}

div.showSchedule span.comment-user-profile-span {
    width: 40px;
    height: 40px;
    border-radius: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    border: 1px solid #eee;
    cursor: pointer;
    box-sizing: border-box;
    vertical-align: middle;
    background-image: url('../../images/kimyj/profileImg-default.png');
}

div.showSchedule div.comment-container {
    display: block;
    position: relative;
    width: calc(100% - 52px);
    margin-left: 10px;
    box-sizing: border-box;
    float: left;
}

div.showSchedule div.comment-user-area {
    width: 100%;
    line-height: 21px;
}

div.showSchedule div.comment-user-area:after {
    display: block;
    content: "";
    clear: both;
}

div.showSchedule div.comment-user {
    float: left;
}

div.showSchedule span.comment-user-name {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    color: #555;
}

div.showSchedule span.comment-user-position {
    display: inline-block;
    font-size: 14px;
    color: #555;
}

div.showSchedule span.record-date {
    display: inline-block;
    margin-top: -2px;
    font-size: 14px;
    font-family: Roboto;
    color: #999;
    margin-left: 5px;
}

div.showSchedule div.comment-writer-menu {
    float: right;
}

div.showSchedule button.card-edit {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #999;
    cursor: pointer;
    display: inline-block;
    border-radius: 0;
    border: 0;
    background-color: transparent;
    font-family: inherit;
    line-height: normal;
    margin: 0;
}

div.showSchedule button.card-delete {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 14px;
    color: #999;
    cursor: pointer;
    border-radius: 0;
    border: 0;
    background-color: transparent;
    font-family: inherit;
    line-height: normal;
    margin: 0;
    margin-left: 5px;
}

div.showSchedule button.comment-edit {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #999;
    cursor: pointer;
    display: inline-block;
    border-radius: 0;
    border: 0;
    background-color: transparent;
    font-family: inherit;
    line-height: normal;
    margin: 0;
}

div.showSchedule button.comment-delete {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 14px;
    color: #999;
    cursor: pointer;
    border-radius: 0;
    border: 0;
    background-color: transparent;
    font-family: inherit;
    line-height: normal;
    margin: 0;
    margin-left: 5px;
}

div.showSchedule button.comment-cancell {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #999;
    cursor: pointer;
    display: inline-block;
    border-radius: 0;
    border: 0;
    background-color: transparent;
    font-family: inherit;
    line-height: normal;
    margin: 0;
}

div.showSchedule div.comment-content {}

div.showSchedule div.comment-text-area {}

div.showSchedule div.comment-text {
    word-break: break-all;
    white-space: pre-wrap;
    line-height: 30px;
}

div.showSchedule div.card-footer2 {
    overflow: hidden;
    padding: 14px 30px;
    position: sticky;
    bottom: 0;
    margin: 0;
    background: #faf9f9;
}

div.showSchedule div.card-footer2.sticky {
    position: sticky;
    bottom: 0;
    margin: 0;
    background: #faf9f9;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.06);
}

div.showSchedule div.card-footer2 {
    cursor: default;
}

div.showSchedule div.comment-writer-profile {
    float: left;
}

div.showSchedule span.comment-writer-profile-span {
    cursor: default;
    width: 40px;
    height: 40px;
    border-radius: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    border: 1px solid #eee;
    background-image: url('../../images/kimyj/profileImg-default.png');
    cursor: pointer;
    box-sizing: border-box;
    vertical-align: middle;
}

div.showSchedule form.comment-writer-container {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    width: calc(100% - 52px);
    margin-left: 10px;
    box-sizing: border-box;
    float: left;
}

div.showSchedule form.comment-writer-container fieldset {
    position: relative;
    border: 0;
    margin: 0;
    padding: 0;
}

div.showSchedule div.comment-writer-text[contenteditable] {
    width: 100%;
    padding: 11px 60px 11px 20px;
    min-height: 44px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #555;
    word-break: break-all;
    white-space: pre-wrap;
    cursor: text;
}

div.showSchedule input.comment-writer-text {
    width: 100%;
    padding: 11px 60px 11px 20px;
    min-height: 44px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #555;
    word-break: break-all;
    white-space: pre-wrap;
    cursor: text;
}

div.showSchedule div.comment-writer-text[contenteditable]:empty:before {
    display: block;
    content: attr(placeholder);
    color: #999;
}

div.showSchedule div.comment-writer-text[contenteditable=true]:hover,
div.showSchedule div.comment-writer-text[contenteditable=true]:focus {
    border-color: #555;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

div.showSchedule div.card-content-map {
    width: 100%;
    height: 200px;
    display: block;
}

div.showSchedule i.icon-place {
    background-image: url('../../images/kimyj/icon-place.svg') !important;
    width: 20px;
    height: 20px;
    position: absolute;
}

div.showSchedule i.icon-file-download {
    background-image: url('../../images/kimyj/icon-file-download.svg') !important;
    width: 20px;
    height: 20px;
    position: absolute;
}

div.showSchedule div.card-content-place {
    margin-top: 30px;
    padding-top: 10px;
    vertical-align: top;
    word-break: break-all;
    position: relative;
    display: table-cell;
    height: 35px;
    color: #333;
}

div.showSchedule span.place-span {
    white-space: pre-wrap;
}

div.showSchedule span.place-span div {
    display: inline-block;
}

div span.place-span a {
    margin-left: 8px;
    color: #6449fc;
    line-height: 26px;
    text-decoration: underline;
    text-underline-position: under;
}

div.showSchedule div.card-content-download {
    margin-top: 30px;
    padding-top: 10px;
    vertical-align: top;
    word-break: break-all;
    position: relative;
    display: table-cell;
    height: 35px;
    color: #333;
}

div.showSchedule span.download-span {
    white-space: pre-wrap;
}

div.showSchedule span.download-span a {
    color: #6449fc;
    text-decoration: underline;
    text-underline-offset: 2px;
}

div.showSchedule h3.card-title i {
    display: inline-block;
    vertical-align: middle;
}

div.showSchedule div.card-content-share {
    margin-top: 30px;
    padding-top: 10px;
    vertical-align: top;
    word-break: break-all;
    position: relative;
    display: table-cell;
    height: 35px;
    color: #333;
}

div.showSchedule span.share-span {
    white-space: pre-wrap;
}

div.showSchedule i.icon-share {
    background-image: url('../../images/kimyj/icon-share.svg') !important;
    width: 20px;
    height: 20px;
    position: absolute;
}

div.showSchedule div.voteTotalCnt {
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}

div.showSchedule span.yesCnt {
    color: #00b695;
    font-size: 15px;
    line-height: 19px;
    position: relative;
    display: flex;
    cursor: pointer;
}

div.showSchedule span.noCnt {
    margin-left: 55px;
    color: #fb2a2a;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    cursor: pointer;
}

div.showSchedule span.undefinedCnt {
    margin-left: 55px;
    color: #999;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    cursor: pointer;
}

div.showSchedule span.yesCnt span {
    color: #00b695;
    line-height: 19px;
    font-size: 15px;
}

div.showSchedule span.noCnt span {
    color: #fb2a2a;
    line-height: 19px;
    font-size: 15px;
}

div.showSchedule span.undefinedCnt span {
    color: #999;
    line-height: 19px;
    font-size: 15px;
}

div.showSchedule div.vote-group em {
    margin-left: 2px;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
}

div.showSchedule div.vote-group {
    position: relative;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
}

div.showSchedule div.vote-yes-group {
    display: inline-block;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: flex-end;
    height: 40px;
}

div.showSchedule ul.vote-yes-ul {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    right: 390px; 
    background: #fff;
    border: 1px solid #00b695;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 5px;
    max-width: 200px;
    max-height: 200px;
    text-align: left;
    border-radius: 6px;
    color: #00b695;
    display: none;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

div.showSchedule ul.vote-yes-ul::-webkit-scrollbar {
    display: none;
}

div.showSchedule ul.vote-yes-ul li {
    display: block;
    position: relative;
}

div.showSchedule div.vote-no-group {
    display: inline-block;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: flex-end;
    height: 40px;
}

div.showSchedule ul.vote-no-ul li {
    display: block;
    position: relative;
}

div.showSchedule ul.vote-no-ul {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    right: 300px;
    background: #fff;
    border: 1px solid #fb2a2a;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 5px;
    max-width: 200px;
    max-height: 200px;
    text-align: left;
    border-radius: 6px;
    color: #fb2a2a;
    display: none;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

div.showSchedule ul.vote-no-ul::-webkit-scrollbar {
    display: none;
}

div.showSchedule div.vote-undefined-group {
    display: inline-block;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: flex-end;
    height: 40px;
}

div.showSchedule ul.vote-undefined-ul {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    right: 210px;
    background: #fff;
    border: 1px solid #777;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 5px;
    max-width: 200px;
    max-height: 200px;
    text-align: left;
    border-radius: 6px;
    color: #777;
    display: none;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

div.showSchedule ul.vote-undefined-ul::-webkit-scrollbar {
    display: none;
}

div.showSchedule ul.vote-undefined-ul li {
    display: block;
    position: relative;
}

div.showSchedule ul.vote-undefined-ul li div,
div.showSchedule ul.vote-no-ul li div,
div.showSchedule ul.vote-yes-ul li div {
    font-size: 13px;
}

div.showSchedule input.comment-writer-text:hover,
div.showSchedule input.comment-writer-text:focus {
    border: 1px solid #6449fc !important;
}

div.comment-text-area input.comment-writer-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.showSchedule div.comment-header {
    padding: 10px 30px 0 30px;
}

h3.card-title i span {
    position: relative;
}

/* 댓글 페이징 */
div.comment-header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

div.comment-header ul li {
    display: inline;
    color: #6449fc;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
}

div.comment-header ul li.numberli {
    padding-left: 7px;
    padding-right: 7px;
}

div.comment-header ul li.numberli:last-child {
    padding-right: 15px;
}

div.comment-header ul li a {
    color: #555;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

div.comment-header ul li span {
    position: relative;
    top: 6.5px;
    padding: 0;
    margin: 0;
}
/* --- */

div#map div {
    width: max-content;
    height: max-content;
}

span.plusUser i.fas {
    position: relative;
    top: 3.4px;
    cursor: pointer;
}

span.plusUser i.fas span {
    font-size: 18px;
}

div.showSchedule img.card-myprofile-photo {
	width:40px;
	height:40px;
	margin:0 10px 0 0;
	display:inline-block;
	-webkit-border-radius:16px;
	border-radius:16px;
	background-size:cover;
}
li.firstli a {
	background-image:url('../../images/kimyj/double_arrow_left.png');
	width:24px;
	height:24px;
	position:relative;
	display:inline-block !important;
	top:7px;
}
li.previousli a {
		background-image:url('../../images/kimyj/arrow_left.png');
	width:24px;
	height:24px;
	position:relative;
	display:inline-block !important;
	top:7px;
}
li.nextli a {
	background-image:url('../../images/kimyj/arrow_right.png');
	width:24px;
	height:24px;
	position:relative;
	display:inline-block !important;
	top:7px;
}
li.lastli a {
	background-image:url('../../images/kimyj/double_arrow_right.png');
	width:24px;
	height:24px;
	position:relative;
	display:inline-block !important;
	top: 7px;
}