@charset "UTF-8";

/* index.jsp css 시작*/
	body {background-color: #f2f2f2;}

	table.tbl_boardInCard td {padding: 10px;}
	
	.fas, .far {margin-right: 10px;}
	
	label.btn_inputFile {
		padding: 5px;
		background-color: transparent;
		border: solid 1px lightgray;
		border-radius: 5px;
		cursor: pointer;
	}
	
	div#fixedTab {
		padding: 30px 30px 0px 30px;
	
		position: fixed;
		top: 45px;
    	left: 230px;
    	
    	width: 100%;
    	height: 145px;
    	background-color: white;
    	border-bottom: solid 1px lightgray;
    	
    	z-index: 1;
	}
	
	div#content {margin-top: 10px;}
	
	div.inputfileDiv {position: relative;}
	
	div.inputfileDiv #inputfile {
		position: absolute;
		left: 100px;
		top: 5px;
	}
	
	div.feedAll {box-shadow: 1px 1px 5px lightgray;}
	
	div#inputFileDiv {
		position: relative;
		display: inline-block;
	}
	
	div.prjSetting a {font-size: 10pt;}
	
	div.emotion a {display: inline;}
	
	table#tblEmpList i {color: #c6c6c6;}
	table#tblEmpList i:hover, div#groupchat:hover {color: #6449fc; cursor: pointer;}
	
	a#showAllEmployee {
		display: inline-block;
		font-size: 10pt; 
		margin-right: 5px; 
		cursor: pointer; 
		text-decoration: none;
		color: black;
	}
	
	button#groupchat {border: none; width: 100%; height: 100%; background-color: transparent;}
	
	a#dept {
		display: block; 
		width: 100%; 
		padding: 10px; 
		margin-bottom: 10px; 
		text-decoration: none;
		font-weight: bold;
		background-color: #f7f7f7;
		border-radius: 10px;
	}
	
	.scrollover { -ms-overflow-style: none; } 
	.scrollover::-webkit-scrollbar { display:none; }
	
	 .empProfile > img {
		width: 45px;
		height: 45px;
		overflow: hidden;
	}
	
	
	tr#tablehover:hover{
		background: #f8f6ff;
		color:#6449fc;
	/* 	border: 1px solid #6449fc; */
	}
	
	
	
	
	
	


/*  글한개보기 css 시작*/	
 /*  ///////// */
 
 
 div.showBoardDetail{ 
 	width: 674px;
    /* height: 100%; */
    min-height: auto;
    max-height: max-content;
    position: absolute;
    top: -20px;
    bottom: 0;
    right: -20px;
    z-index: 2;
    overflow: hidden;
    background: #f9f9f9;
    border-radius: 0;
    border-left: 1px solid #ccc;
        border: 1px solid #ccc;
    box-shadow: -10px 10px 15px rgb(0 0 0 / 4%);
    display:block;
    font-size: 14px;
    font-weight: 400;
 }
  
  div.showBoardDetail div.card-header{
  	overflow: hidden;
    padding: 10px 20px;
    height: 45px;
    background: #fff;
    border-bottom: 1px solid #eee;
  }
  
  div.showBoardDetail div.card-header h3{
  	float: left;
    width: 100%;
    font-size: 14px;
    color: #333;
    
    margin: 0;
    padding: 0;
  }
  div.showBoardDetail div.card-header h3 span.js-project-title-button {
 	 overflow: hidden;
   /*  display: inline-block; */
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
   
   margin-left: 5px;

  }
  div.showBoardDetail div.card-header button.close{
  	top: 8px;
    right: 20px;
        float: right;
    margin-top: 1px;
    position: absolute;
    color: #333;
  }
  div.showBoardDetail div.card-header button.close span{
  /* font-family: icon-contents!important; */
    font-style: normal;
    /* font-weight: 400; */
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    
  }
  
  div.showBoardDetail div.card-body{
  border-radius: 0;
  background: #faf9f9;
  
   flex: none;
    min-height: auto;
    padding: 0;
  
  }
  
  
  div.showBoardDetail div.card-scroll tbody.card-scroll{
  	max-height: calc(100vh - 78px);
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100px;
    box-sizing: border-box;
	}
  
  
  div.showBoardDetail div.card-body-top{
 	 position: relative;
 	 display: flex;	
     -webkit-box-pack: justify;
     justify-content: space-between;
    padding: 14.5px 30px;
    background: #fff;

  }
  
  div.showBoardDetail div.card-author{
  -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
    float: initial;
    width: calc(100% - 77px);
  }
  div.showBoardDetail span.card-profileImg{
	background-image: url('<%=ctxPath %>/resources/images/kimyj/profileImg-default.png');
	width: 40px;
    height: 40px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    border: 1px solid #eee;
     border-radius: 16px;
    cursor: pointer;
    box-sizing: border-box;
    vertical-align: middle;
  }
   div.showBoardDetail dl.card-author-info{
  
    display: -moz-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    
     margin: 0;
    padding: 0;
    overflow: hidden;
    width: 70%;
    line-height: 18px;
    margin-left: 10px;
    vertical-align: middle;
    text-align: left;
    
    font-size: 14px;
    
   
   }
   
    div.showBoardDetail dl.card-author-info dt{
    display: flex;
    color: #555;
    line-height: 1.1;
    }
   
    div.showBoardDetail strong.author-name{
    
   overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
    line-height: 18px;
    max-width: 70%;
    font-weight: 700;
    }
  
   div.showBoardDetail span.author-date{
       display: inline-block;
    min-width: 120px;
    margin: 2px 0 0 7px;
    color: #aaa;
    font-family: Roboto;
    vertical-align: middle;
    line-height: 1.1;
     font-weight: normal;
   }
   
   div.showBoardDetail div.card-option{
       display: flex;
   	 -webkit-box-align: center;
   	     align-items: center;
    -webkit-box-pack: justify;
        justify-content: flex-end;
    height: 40px;
   }
   
   div.showBoardDetail button.card-option-btn{
       margin: -1px 0 0 20px;
       padding: 4px 8px;
  
    vertical-align: middle;
    cursor: pointer;
        background-color: transparent;
        border-radius: 0;
    border: 0;
        color: #999;
        font-size: 100%;
    line-height: normal;
    background-image: url('<%=ctxPath %>/resources/images/kimyj/icon-option.svg');
    width: 20px;
    height: 20px;
    

   }
   
    div.showBoardDetail button.card-option-btn span{
        width: 2px;
    height: 2px;
    background: #777;
    margin: 0;
    display: block;
    }
    
    div.showBoardDetail ul.card-option-ul{
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 35px;
    background: #fff;
    border: 1px solid #555;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 4px 0;

    }
    
   div.showBoardDetail li.card-option-li{
   display: block;
   position: relative;
   }
   
   div.showBoardDetail li.card-option-li a{
   	display: block;
    height: 19px;
    margin: 5px 0;
    padding: 0 14px;
    line-height: 19px;
    font-size: 13px;
    color: #555;
        text-decoration: none;
    
    cursor: pointer;
   }
   
   div.showBoardDetail li.card-option-li a i {
   display: inline-block;
    margin: -4px 6px 0 0;
    vertical-align: middle; 
   
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
     color: #999;
      width: 13px;
    height: 13px;
    filter: invert(66%) sepia(4%) saturate(26%) hue-rotate(338deg) brightness(94%) contrast(78%);
   }
   
   div.showBoardDetail li.card-option-li a i.icon-edit{
   background-image: url('<%=ctxPath %>/resources/images/kimyj/icon-edit-13.svg');
   fill: blue;
   color: red;
   }
div.showBoardDetail li.card-option-li a i.icon-delete{
 background-image: url('<%=ctxPath %>/resources/images/kimyj/icon-delete-13.svg');
}

div.showBoardDetail div.card-body-bottom{
position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px 30px 10px 30px;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
}

div.showBoardDetail div.card-schedule-date{
    display: table-cell;
    height: 74px;
    overflow: hidden;
    margin: 5px 20px 5px 0;
    width: 68px;
   
    border-radius: 6px;
  
    box-shadow: 0 0 6px rgb(0 0 0 / 10%);
    font-family: Roboto;
    text-align: center;
    vertical-align: middle;
}
div.showBoardDetail strong.card-month{
display: block;
    padding: 8px 0;
    font-size: 12px;
    color: #00b19c;
    
    height: 30px;
    line-height: 1;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

div.showBoardDetail strong.card-day{
	display: block;
    padding: 5px 0;
    font-size: 28px;
    color: #fff;
    background: #00b19c;
    height: 44px;
    line-height: 1;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

div.showBoardDetail div.card-schedule-title-area{
padding-left: 20px;

display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    width: 100%;
}

div.showBoardDetail h4.card-schedule-title{

    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    vertical-align: middle;
    word-break: break-word;
}

div.showBoardDetail div.card-schedule-day{
display: block;
margin-top: 10px;

}


div.showBoardDetail span.card-schedule-startDate{
font-family: Roboto;
    font-size: 16px;
    color: #333;


}
div.showBoardDetail span.card-schedule-endDate{
    display: inline-block;
font-family: Roboto;
    font-size: 16px;
    color: #333;
}

			
	div.showBoardDetail span.card-schedule-endDate:before{
    display: inline-block;
    content: "";
    width: 12px;
    height: 1px;
    margin: -2px 6px 0 3px;
    background: #333;
    vertical-align: middle;
}		  	 

div.showBoardDetail div.card-body-bottom:after {
    content: '';
    position: absolute;
    height: 1px;
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
    left: 30px;
    bottom: 0;
    background: #eee;
}


div.showBoardDetail div.card-container{
    padding: 10px 0 20px;
    background: #fff;
}

div.showBoardDetail div.card-content{
font-size: 14px;
    word-break: break-word;
    line-height: 25px;
    color: #333;
    padding: 15px 30px 0;
}

div.showBoardDetail ul.card-content-group{
margin: 0;
    padding: 0;
    list-style: none;
}

div.showBoardDetail ul.card-content-group li {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 11px;
        margin: 0;
    padding: 0;
    padding-left: 2px;
}

div.showBoardDetail div.card-content-title{
vertical-align: top;

    
        box-sizing: content-box;
    width: 20px;
    padding: 7px 20px 0 0;
    color: #555;
    font-weight: 700;
    font-size: 14px;
    margin-top: 30px;
    padding-top: 14px;
    word-break: break-all;
    
        position: relative;
        
            display: table-cell;
    height: 35px;

}

div.showBoardDetail i.icon-text{
background-image: url(/groovy/resources/images/kimyj/icon-text.svg)!important;
    width: 20px;
    height: 20px;
    position: absolute;
}

div.showBoardDetail div.card-content-memo{
margin-top: 30px;
    padding-top: 10px;
    vertical-align: top;
    word-break: break-all;
    
    
    position: relative;
    display: table-cell;
    height: 35px;
    color: #333;
    

}

div.showBoardDetail span.memo-span{
white-space: pre-wrap;
}

div.showBoardDetail span.memo-span a{

}

div.showBoardDetail div.card-vote{
display: block;
margin: 30px 0 0;
    padding: 35px 0 15px 0;
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 0;

}
div.showBoardDetail button.vote-btn-yes{

    color: #00b19c;
 background-color: transparent;
    width: 74px;
    height: 34px;
    border: 1px solid #00b19c;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    
        cursor: pointer;
            font-family: inherit;
        line-height: normal;
   
    margin: 0;
    padding: 0;
}

div.showBoardDetail button.vote-btn-no{
    line-height: normal;
    margin: 0;
padding: 0;

    color: #ff6b6b;
        margin-left: 20px;
        background-color: transparent;
            width: 74px;
    height: 34px;
        border: 1px solid #ff6b6b;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    font-family: inherit;
    cursor: pointer;

}
	
div.showBoardDetail button.vote-btn-undefined{
    margin: 0;
    padding: 0;
 
  color: #777;
    margin-left: 20px;
    background-color: transparent;
        width: 74px;
    height: 34px;
 border: 1px solid #777;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
        cursor: pointer;
            line-height: normal;
    font-family: inherit;
}
	


div.showBoardDetail div.card-footer{
padding: 0;
border: 0;
border-radius: 0;
background: #f9f9f9;

}

div.showBoardDetail ul.card-footer-group{
color: #555;
    list-style: none;
    margin: 0;
    padding: 0;
  border-top: 1px solid #ddd;
}

div.showBoardDetail li.card-footer-li{
    margin: 0;
    padding: 0;

display: flex;
    margin-top: -1px;
    padding: 10px 30px;
    padding-top: 20px;
    border-bottom: 1px solid #eee;
}
}

div.showBoardDetail div.comment-user-profile{
    float: left;
}

div.showBoardDetail span.comment-user-profile-span{

	width: 40px;
    height: 40px;
        border-radius: 16px;


display: inline-block;
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    border: 1px solid #eee;
   
    cursor: pointer;
   
    box-sizing: border-box;
    vertical-align: middle;
    background-image: url('<%=ctxPath %>/resources/images/kimyj/profileImg-default.png');


}	
			               
div.showBoardDetail div.comment-container{
display: block;

    
    position: relative;
   
    width: calc(100% - 52px);
    margin-left: 10px;
  
    box-sizing: border-box;
    float: left;

}

div.showBoardDetail div.comment-user-area{
width: 100%;
    line-height: 21px;
}
div.showBoardDetail div.comment-user-area:after{
    display: block;
    content: "";
    clear: both;
}
div.showBoardDetail div.comment-user{
float: left;
}
    
div.showBoardDetail span.comment-user-name{
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    color: #555;

}		
			                  
div.showBoardDetail span.comment-user-position	{
display: inline-block;
    font-size: 14px;
    color: #555;
}		 

div.showBoardDetail span.record-date{
display: inline-block;
    margin-top: -2px;
    font-size: 14px;
    font-family: Roboto;
    color: #999;
        margin-left: 5px;
}			                     

div.showBoardDetail div.comment-writer-menu{
float: right;
}


div.showBoardDetail button.card-edit{
margin: 0;
    padding: 0;
font-size: 14px;
    color: #999;
    cursor: pointer;
     display: inline-block;
   border-radius: 0;
    border: 0;
    background-color: transparent;
        font-family: inherit;
            line-height: normal;
    margin: 0;
   
}
div.showBoardDetail button.card-delete{
margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 14px;
    color: #999;
    cursor: pointer;
    
    border-radius: 0;
    border: 0;
    background-color: transparent;
        font-family: inherit;
            line-height: normal;
    margin: 0;
    margin-left: 5px;
   
}











div.showBoardDetail button.comment-edit{
margin: 0;
    padding: 0;
font-size: 14px;
    color: #999;
    cursor: pointer;
     display: inline-block;
   border-radius: 0;
    border: 0;
    background-color: transparent;
        font-family: inherit;
            line-height: normal;
    margin: 0;
   
}
div.showBoardDetail button.comment-delete{
margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 14px;
    color: #999;
    cursor: pointer;
    
    border-radius: 0;
    border: 0;
    background-color: transparent;
        font-family: inherit;
            line-height: normal;
    margin: 0;
    margin-left: 5px;
   
}

div.showBoardDetail button.comment-cancell{
margin: 0;
    padding: 0;
font-size: 14px;
    color: #999;
    cursor: pointer;
     display: inline-block;
   border-radius: 0;
    border: 0;
    background-color: transparent;
        font-family: inherit;
            line-height: normal;
    margin: 0;
}

			                   
div.showBoardDetail div.comment-content{

}            
div.showBoardDetail div.comment-text-area{
}

div.showBoardDetail div.comment-text{
word-break: break-all;
    white-space: pre-wrap;
    line-height: 30px;
}	                
			              


div.showBoardDetail div.card-footer2{
  overflow: hidden;
  padding: 14px 30px;
  
  position: sticky;
  bottom: 0;
  margin: 0;
  background: #faf9f9;
 /*  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.06); */
}


div.showBoardDetail div.card-footer2.sticky {
  position: sticky;
  bottom: 0;
  margin: 0;
  background: #faf9f9;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.06);
}

div.showBoardDetail div.card-footer2 {
  cursor: default;
}


div.showBoardDetail div.comment-writer-profile{
    float: left;

}
div.showBoardDetail span.comment-writer-profile-span{
    cursor: default;
        width: 40px;
    height: 40px;
        border-radius: 16px;
        
        display: inline-block;
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    border: 1px solid #eee;
   background-image: url('<%=ctxPath %>/resources/images/kimyj/profileImg-default.png');
    cursor: pointer;
   
    box-sizing: border-box;
    vertical-align: middle;


}
	
div.showBoardDetail form.comment-writer-container{
margin: 0;
    padding: 0;
display: block;

    position: relative;
   
    width: calc(100% - 52px);
    margin-left: 10px;
   
    box-sizing: border-box;
        float: left;

}

div.showBoardDetail form.comment-writer-container fieldset{
position: relative;
    border: 0;
       margin: 0;
    padding: 0;

}

div.showBoardDetail div.comment-writer-text[contenteditable]{
 width: 100%;
  padding: 11px 60px 11px 20px;
  min-height: 44px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #555;
  word-break: break-all;
  white-space: pre-wrap;
  cursor: text;
}

div.showBoardDetail input.comment-writer-text{
 width: 100%;
  padding: 11px 60px 11px 20px;
  min-height: 44px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #555;
  word-break: break-all;
  white-space: pre-wrap;
  cursor: text;
}

div.showBoardDetail div.comment-writer-text[contenteditable]:empty:before{
	    display: block;
    content: attr(placeholder);
    color: #999;
}


div.showBoardDetail div.comment-writer-text[contenteditable=true]:hover,
div.showBoardDetail div.comment-writer-text[contenteditable=true]:focus {
  border-color: #555;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}


div.showBoardDetail div.card-content-map{
width:100%;
height:200px; 
display: block; 
}

div.showBoardDetail i.icon-place{
  background-image: url('<%=ctxPath %>/resources/images/kimyj/icon-place.svg')!important;
    width: 20px;
    height: 20px;
    position: absolute;
}

div.showBoardDetail i.icon-file-download{
  background-image: url('<%=ctxPath %>/resources/images/kimyj/icon-file-download.svg')!important;
    width: 20px;
    height: 20px;
    position: absolute;
}
div.showBoardDetail div.card-content-place{
margin-top: 30px;
    padding-top: 10px;
    vertical-align: top;
    word-break: break-all;
    position: relative;
    display: table-cell;
    height: 35px;
    color: #333;
}
div.showBoardDetail span.place-span{
white-space: pre-wrap;
}
div.showBoardDetail span.place-span div{
display: inline-block;
}

div span.place-span a{
margin-left: 8px;
    color: #6449fc;
    line-height: 26px;
    text-decoration: underline;
    text-underline-position: under;
}
div.showBoardDetail div.card-content-download{
	margin-top: 30px;
    padding-top: 10px;
    vertical-align: top;
    word-break: break-all;
    position: relative;
    display: table-cell;
    height: 35px;
    color: #333;
}
div.showBoardDetail span.download-span{
white-space: pre-wrap;
}
div.showBoardDetail span.download-span a{
color: #6449fc;
text-decoration: underline;
text-underline-offset : 2px;
}

div.showBoardDetail h3.card-title i{

    /* width: 20px;
    height: 20px; */
    display: inline-block;

      vertical-align: middle;
}


div.showBoardDetail div.card-content-share{
	margin-top: 30px;
    padding-top: 10px;
    vertical-align: top;
    word-break: break-all;
    position: relative;
    display: table-cell;
    height: 35px;
    color: #333;
}

div.showBoardDetail span.share-span{
white-space: pre-wrap;
}

div.showBoardDetail i.icon-share{
  background-image: url('<%=ctxPath %>/resources/images/kimyj/icon-share.svg')!important;
    width: 20px;
    height: 20px;
    position: absolute;
}


div.showBoardDetail div.voteTotalCnt{
display: block;
    overflow: hidden;
       margin-bottom: 10px;
}
div.showBoardDetail span.yesCnt{
color: #00b695;
   
    font-size: 15px;
    
    line-height: 19px;
    
        position: relative;
    display: flex;
    cursor: pointer;
}

div.showBoardDetail span.noCnt{
    margin-left: 55px;
        color: #fb2a2a;
        
    font-size: 15px;
        line-height: 19px;
        
        display: flex;
         cursor: pointer;
}
div.showBoardDetail span.undefinedCnt{
  margin-left: 55px;
        color: #999;
      
    font-size: 15px;
        line-height: 19px;
        
        display: flex;
         cursor: pointer;
}

div.showBoardDetail span.yesCnt span{
color: #00b695;
line-height: 19px;
   font-size: 15px;
}

div.showBoardDetail span.noCnt span{
color: #fb2a2a;
line-height: 19px;
    font-size: 15px;
}
div.showBoardDetail span.undefinedCnt span{
color: #999;
line-height: 19px;
   font-size: 15px;
}


div.showBoardDetail div.vote-group em{
    margin-left: 2px;
    font-weight: 700;
    font-size: 16px;
       font-style: normal;
}



div.showBoardDetail div.vote-group{
    position: relative;
  /*   display: flex; */
    -webkit-box-pack: justify;
    justify-content: space-between;
    
  /*   padding: 14.5px 30px; */
    background: #fff;

}


div.showBoardDetail div.vote-yes-group{
    display: inline-block;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: flex-end;
    height: 40px;
}

div.showBoardDetail ul.vote-yes-ul{
    overflow: hidden;
    position: absolute;
    z-index: 1;
   /*  top: 50px; */
    right: 390px;
  /*   background: transparent; */
  background:#fff;
    border: 1px solid #00b695;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 5px;
    max-width: 200px;
   max-height: 200px;
    text-align: left;
        border-radius: 6px;
        color: #00b695;
        
         display: none;
         
         overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

}
div.showBoardDetail ul.vote-yes-ul::-webkit-scrollbar {
    display: none;
}

div.showBoardDetail ul.vote-yes-ul li{
display: block;
    position: relative;
}

div.showBoardDetail div.vote-no-group{
   display: inline-block;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: flex-end;
    height: 40px;
}
div.showBoardDetail ul.vote-no-ul li{
display: block;
    position: relative;
}

div.showBoardDetail ul.vote-no-ul{
      overflow: hidden;
    position: absolute;
    z-index: 1;
   /*  top: 50px; */
    right: 300px;
  /*   background: transparent; */
  background:#fff;
    border: 1px solid #fb2a2a;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 5px;
    max-width: 200px;
    max-height: 200px;
    text-align: left;
        border-radius: 6px;
        color: #fb2a2a;

 display: none;
 
 overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
div.showBoardDetail ul.vote-no-ul::-webkit-scrollbar {
    display: none;
}

div.showBoardDetail div.vote-undefined-group{
   display: inline-block;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: flex-end;
    height: 40px;
}

div.showBoardDetail ul.vote-undefined-ul{
      overflow: hidden;
    position: absolute;
    z-index: 1;
   /*  top: 50px; */
    right: 210px;
  /*   background: transparent; */
  background:#fff;
    border: 1px solid #777;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 5px;
    max-width: 200px;
   max-height: 200px;
    text-align: left;
        border-radius: 6px;
        color: #777;
        
        display: none;

overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
div.showBoardDetail ul.vote-undefined-ul::-webkit-scrollbar {
    display: none;
}

div.showBoardDetail ul.vote-undefined-ul li{
display: block;
    position: relative;
}

div.showBoardDetail ul.vote-undefined-ul li div, div.showBoardDetail ul.vote-no-ul li div, div.showBoardDetail ul.vote-yes-ul li div{
font-size: 13px;

}


div.showBoardDetail input.comment-writer-text:hover,div.showBoardDetail input.comment-writer-text:focus {
	
	border: 1px solid #6449fc  !important;
}


div.comment-text-area input.comment-writer-text{
margin-top: 10px;
margin-bottom: 10px;
}


div.showBoardDetail div.comment-header , #paging-list{
padding: 10px 30px 0 30px;
   /*  border-top: 1px solid #ddd; */
}


h3.card-title i span {
 position: relative;
}




/* 댓글 페이징 */
div.comment-header ul , #paging-list ul{
list-style: none;
padding: 0;
margin: 0;
text-align: center;

}
div.comment-header ul li , #paging-list ul li{
display: inline;
color: #6449fc;
font-size: 15px;
font-weight: 600;
    cursor: pointer;
    background-color: transparent;
}

div.comment-header ul li.numberli,
div#paging-list ul li.numberli{
padding-left: 7px;
padding-right: 7px;
}
div.comment-header ul li.numberli:last-child{
padding-right: 15px;
}

div.comment-header ul li a,
div#paging-list ul li a{

color: #555;
font-size: 14px;
font-weight: 600;
    cursor: pointer;

}

div.comment-header ul li span,
div#paging-list ul li span{
position: relative;
top:6.5px;
padding: 0;
margin: 0;
}
/* 글한개보기 css 끝 */
	
	
/* index.jsp css 끝*/	