@charset "UTF-8";

/* body {font-family: Arial, Helvetica, sans-serif, 돋움; }*/
/* #mycontainer   { padding:20px; }
#myheader      { display: flex; position: relative; }
#mycontent      { position: relative; top:45px; padding-left:230px; }
#myfooter      { display: flex; min-height:120px; position: relative; top:60px; background-color:#555555; margin-bottom: 70px;}
   
#myheader a {text-decoration:none;} */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');



* {
  font-family: 'Noto Sans KR', sans-serif;
}

/* 로그인폼 css 시작 */
	div.container {
		width: 100%;
		margin: 0 auto;
		
	}
	
	form[name="loginFrm"] ,form[name="findPwdFrm"] {
		text-align: center;
		width: 500px;
		margin: 0 auto;
	}
	
	input.LOGIN ,input.FINDPWD {
		width: 486px;
	    height: 52px;
	    background: #fff;
	    border: 1px solid #ddd;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    -webkit-border-radius: 8px;
	    border-radius: 8px;
	    padding-left: 20px;
	    font-size: 16px;
	}
	
	.input_keep:hover  {
		color: #623ad6;
		font-weight: bold;
		cursor: pointer;
	}
	
	div#idScan {
		display: block;
	    margin-top: 20px;
	    cursor: pointer;
	    font-size: 14px;
	    color: #333;
	    font-weight: 500;
	    text-align: left;
	}
	
	input#keep {
		cursor: pointer;
	    vertical-align: baseline;
	}
	
	button#goLogin , button#goFindPwd {
		display: block;
	    color: #fff;
	    text-align: center;
	    background: #623ad6;
	    line-height: 52px;
	    height: 52px;
	    width: 100%;
	    -webkit-border-radius: 8px;
	    border-radius: 8px;
	    margin-top: 20px;
	    font-weight: 486px;
	    font-size: 16px;
	}	
	
	button#goLogin:hover , button#goFindPwd:hover {
		font-weight: bold;
		filter: brightness(90%);
		cursor: pointer;
	}
	
	div#link {
		font-weight: bold;
		color: #623ad6;
	}
	
	div#link:hover {
		cursor: pointer;
	}
	
	img.logo {
		height: 300px;
		width: 300px;
	}
	
	div.logo {
		text-align: center;
	}
	
/* 로그인폼 css 끝 */