@charset "UTF-8";



#mycontainer   { padding:20px; }
#myheader      { display: flex; position: relative; }
#mycontent      { position: relative; top:45px; padding-left:230px; }
#myfooter      { display: flex; min-height:120px; position: relative; top:60px; background-color:#555555; margin-bottom: 70px;}
   
#myheader a {text-decoration:none;}



/* ========== header, sidebar css  ==============*/


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}
	.sidenav {
  height: 100%;
  width: 230px;
  padding-right: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;  
  background-color: #111;
  overflow-x: hidden;
  padding-top: 45px;
  color: white;
}

.btn_newpjt{
    margin: 0 auto; 
    color: white;
	width: 176px;
    height: 40px;
    line-height: 40px;
    background: #6449fc;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4px;
   /*  border-radius: 5%; */
  /*   border-style: groove; */
}

.sidenav ul.scroll a , ul.side-foot a , div.side-header a {
  padding: 5px 5px 5px 30px;
  text-decoration: none;
  font-size: 14px;
  /* font-weight: bold; */
  color: #f1f1f1;
  display: block;
  height: 33px;
  line-height: 33px;
  vertical-align:  middle;
}

ul.scroll{
	    padding-inline-start: 0px  !important;
}
ul.scroll > li{
 padding: 7px 5px 5px 30px;
}
ul.scroll > li a{
	padding: 0 !important;
	vertical-align:  middle;
}

 ul.scroll >li li{
    padding: 5px 5px 5px 5px;
    
}
  div.accord{
  	font-weight: bold;
  	
   
  }
  div.accord a{
   padding: 12px 30px ;
  }
 

  a.list:hover {
  color: #36cfbd;
  font-weight: bold;
  }
  .ico-home:before {
  	content: "\e90e";
  }
  #myheader > div.pt-5.sidenav > div.accord > a
  {
  	cursor: pointer;
  }
  
  .borderline{
	border-top: solid 0.8px #595959; 
  }
  
  div.sidenav i{
   margin-right: 10px; 
   width: 16px;
   
  }
  
  div.header ul, div.sidenav ul{
  	padding: 0;
  }
 


	/* 임의의 영역 생성 */
.scroll { 
  width: 200px;
  height: 50%;
  overflow-y: scroll;
}

/* 아래의 모든 코드는 영역::코드로 사용 */

.scroll::-webkit-scrollbar {
    width: 7px;
  height: 7px;
  padding-right: 10px;
}


.scroll::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #999; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}
.scroll::-webkit-scrollbar-thumb:hover {
  background: #666;
}
.scroll::-webkit-scrollbar-thumb:active {
  background: #999;
}
 
.scroll::-webkit-scrollbar-track {
       background: transparent;
    border: 0 none transparent;
    border-radius: 53px;
}
.scroll::-webkit-scrollbar-track:hover , .scroll::-webkit-scrollbar-track:active, .scroll::-webkit-scrollbar-corner{
  background: transparent;
}


div.nav_right > a{
	padding: 0 5px;
	
}
div.nav_right a  i{
	width: 25px;
	height: 25px;
}

/* ========== header, sidebar css 끝  ==============*/
